doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    title Game of Life
    script(src='app.js')
  body
    canvas.game__board
    button.game__btn_play Старт
    button.game__btn_pause Пауза
    button.game__btn_clear Очистить