doctype html
html(lang='ru')
  head
    meta(charset='utf-8')    
    meta(name="description" content="Conway's Game of Life")
    meta(name="keywords" content="Game,Life,GameOfLife")
    meta(name='author' content="Alexey Zhamylik")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Game of Life
  body
    .game.game__horizontal-position
      canvas.js-game__board.game__board(width="990" height="500")
      .game__buttons
        button.js-game__button-play.game__button Старт
        button.js-game__button-pause.game__button Пауза
        button.js-game__button-clear.game__button Очистить
      .game__inputs
        input.js-game__input-width.game__input(type='text', placeholder='Ширина')
        input.js-game__input-height.game__input(type='text', placeholder='Высота')