.game__board {
	background: #ccc;
	text-align: center;
}

.game__buttons {
	text-align: center;
}

.game__board-container {
	text-align: center;
}

.game__buttons > * {
	margin: 0 1%;
}

.game__board-size-input > * {
		display: block;
		margin: 1% auto;
		text-align: center;
}