.game
    text-align: center;

    &__board 
        background: #ccc;
        text-align: center;


    &__buttons, &__inputs
        text-align: center;

    &__button
        margin: 0 1%;

    &__input
        display: block;
        margin: 0.5% auto;

    &__input:first-child
        margin-bottom: 0;